* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 100%;
  background: #1e293b;
  color: white;
  height: 115%;
}


.nav-link {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.nav-link:hover {
  background: #334155;
  color: white;
}

.nav-link.active {
  background: #387aec;
  color: white;
}

/* Main Content */
.content {
  flex: 1;
  padding: 20px;
}

.header {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Pages */
.page h2 {
  margin-bottom: 20px;
}

/* Dashboard Cards */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

.card:hover {
  background-color:#f0f2f5;
  box-shadow: 0 2px 5px rgba(0,0,0,1);
}

.card p {
  font-size: 24px;
  margin-top: 10px;
  color: #387aec;
}

/* Profile */
.profile-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
}

/* Auth Forms */
.auth-card {
  background: white;
  padding: 30px;
  width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin:auto;
  
}

.auth-card:hover{
   background-color:#f0f2f5;
  box-shadow: 0 2px 5px rgba(0,0,0,1);
}
.auth-card form {
  display: flex;
  flex-direction: column;
}

.auth-card label {
  margin-top: 15px;
  font-weight: bold;
}

.auth-card input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

.auth-card button {
  margin-top: 20px;
  padding: 12px;
  background: #387aec;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.error {
  color: rgb(199, 34, 34);
  font-size: 12px;
  margin-top: 4px;
}

.toggle-text {
  margin-top: 15px;
  font-size: 14px;
}

.toggle-text span {
  color: #412e66;
  cursor: pointer;
  font-weight: bold;
}


.buttontodo{
  margin: 5px 10px;
  padding: 5px 40px;
  background: #387aec;
  color: white;
  border-radius: 20px;
}

.maintodo{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  margin: 5px 600px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

.inputtodo{
  margin: 5px 10px;
  padding: 5px 10px;
  text-align: left;

}
ul{
  list-style-type: none;
  
}

.listtodo{
  text-align: left;
}

.maintodo:hover{
  background-color: #f0f2f5;
  box-shadow: 0 2px 5px rgba(0,0,0,1);
}

textarea{
  padding: 8px;
  margin: 5px;
}
.adp{
  margin-left: 95% ;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 100%;
  background-color: #f4f5f7;
}