<html>

<head>
  <style>
    body{
      justify-content: center;
      text-align: center;
      padding-top: 30px;
    }

    
    input{
      padding: 5px;
    }
    button{
      background-color: cadetblue;
      padding: 5px;
    }
  </style>
</head>
<body>
  <h2>Add User</h2>
<form method="POST" action="/users">
  <input name="name" placeholder="Name" />
  <input name="email" placeholder="Email" />
  <button>Add</button>
</form>

</body>


</html>