<html>

<head>
  <style>
    body{
      justify-content: center;
      text-align: center;
      padding: 10px;
    }
    ul{
       list-style-type: none; 
    }
    a{
      text-decoration: none;
      background-color: rgb(180, 230, 231);
      
 
      padding: 4px;
      color: black;
    }
  </style>
</head>
  <body>
    <h2>Users</h2>
<a href="/users/new">Add User</a>
<ul>
  <% users.forEach(user => { %>
    <li>
      <%= user.name %> - <%= user.email %>
      <a href="/users/edit/<%= user._id %>">Edit</a>
      <a href="/users/delete/<%= user._id %>" style="background-color: rgb(238, 101, 101);">Delete</a><br/><br/>
    </li>
  <% }) %>
</ul>

  </body>
</html>