* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.logo {
  
  text-align: center;
}

.nav-link {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.nav-link:hover {
  background: #334155;
  color: white;
}

.nav-link.active {
  background: #2563eb;
  color: white;
}

/* Main Content */
.content {
  flex: 1;
  padding: 20px;
}

.header {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Pages */
.page h2 {
  margin-bottom: 20px;
}

/* Dashboard Cards */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card:hover {
  background-color:#cbd5e1;
}

.card p {
  font-size: 24px;
  margin-top: 10px;
  color: #2563eb;
}

/* Profile */
.profile-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Auth Forms */
.auth-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin:auto;
  justify-content: center;
}

.auth-card form {
  display: flex;
  flex-direction: column;
}

.auth-card label {
  margin-top: 15px;
  font-weight: bold;
}

.auth-card input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

.auth-card button {
  margin-top: 20px;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #1e40af;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.toggle-text {
  margin-top: 15px;
  font-size: 14px;
}

.toggle-text span {
  color: #2563eb;
  cursor: pointer;
  font-weight: bold;
}
