.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.block{
  background-color: antiquewhite;
  margin: 250px;
}

button:hover{
  background-color: rgb(143, 162, 197);
}

button{
  padding: 20px;
}
.box{
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f5f9;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  color: #0f172a;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

ul {
  list-style: none;
  padding: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e2e8f0;
}

.error {
  color: red;
}

.card:hover{
  box-shadow: 0 6px 15px rgba(0,0,0,0.5);
}