body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f5f9;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.container:hover{
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

h1, h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  margin-right: 20px;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

button:disabled {
  background: #94a3b8;
  cursor: not-allowed;
}

.actions {
  display: flex;
  justify-content: space-between;
}
